<div id="alert-no-tabs">
  <div class='icon'>
    <%= material_icon.favorite %>
  </div>
  <h1 class="title">
    <%= t('.title') %>
  </h1>
  <h3 class="favorite-guide">
    <%= t('.guide') %>
  </h3>
</div>