<div class="modal fade zoom modal-confirm" id="modal-confirm-stop-crawler">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <center>
          <h1>
            <i class="text-danger fa fa-warning"></i>
          </h1>
          <h2>
            <%= t('.are_you_sure') %>?
          </h2>
          <a data-remote="true" data-method="DELETE" href="<%= admin_crawler_path %>" id="btn-confirm" class="btn btn-danger">
            <%= t('accept') %>
          </a>
          <button id="btn-cancel" type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default">
            <%= t('cancel') %>
          </button>
        </center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
$("#btn-confirm").click(function(){
  $('body').css("cursor", 'progress')
  $("#modal-confirm-stop-crawler #btn-confirm").addClass("disabled")
  $("#modal-confirm-stop-crawler #btn-cancel").prop("disabled", true)
})
</script>