<div class="panel sidebar-panel" id="panel-term">
  <div class="panel-header">
    <h1><%= Page.find_by(slug: "/term").title %></h1>
  </div>
  <div class="panel-body">
    <%= Page.find_by(slug: "/term").content.html_safe rescue '' %>
  </div>
</div>