<div class="panel sidebar-panel" id="panel-favorites">
  <div class="panel-header">
    <h1><%= t('.title') %></h1>
  </div>
  <div class="panel-body">
    <div class="favorite-tabs scroll-content">
      <div class="loading">
        <i class="fa fa-spin fa-circle-o-notch"></i>
        <%= t('.loading') %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  window.currentFavoritePage = 1
  window.stopFavoriteLoading = false
  $('.favorite-tabs .tab').remove()
  $.ajax({
    method: "GET",
    dataType: "script",
    url: "/<%= I18n.locale %>/favorites?page=1"
  });
})

$('#panel-favorites .panel-body .favorite-tabs').on('scroll', function() {
  if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
    window.currentFavoritePage += 1
    if(!stopFavoriteLoading){
      $("#panel-favorites .loading").fadeIn(100)
      $.ajax({
        method: "GET",
        dataType: "script",
        url: "/<%= I18n.locale %>/favorites?page=" + window.currentFavoritePage
      });
    }
  }
})
</script>