$("form.new_tutorial .btn").prop("disabled", false)
$("body").css("cursor", "auto")
<% if @errors.any? %>
<% if @errors.class.to_s == "Hash" %>
<% @errors.each do |key, value| %>
$("#help-block-<%= key %>").text("<%= value.join(', ') %>.")
$("#tutorial_<%= key %>").parents(".form-group").addClass("has-error")
<% end %>
<% else %>
$("#add-tutorial-alert").html("<ul></ul>")
<% @errors.each do |error| %>
$("#add-tutorial-alert ul").append("<li><%= error %></li>")
<% end %>
$("#add-tutorial-alert").removeClass("hide")
<% end %>
<% else %>
$(".modal").modal('hide')
window.location.reload()
<% end %>