<div class="tpp-loader hxSplashView" style="display: none">
</div>
<article class="hxEqualizerView tpp-b-equalizer hide">
  <header class="tpp-b-equalizer--header">
    <div class="control-icon control-icon__equalizer"></div>
    <span> Equalizer</span>
    <div class="control-icon control-icon__sm control-icon__close-invert tpp-close tpp-b-equalizer__close hxClose" type="component"></div>
  </header>
  <section class="tpp-b-equalizer--body">
    <section class="tpp-b--options">
      <section type="component" class="tpp-b--select hxEqualizerMode">

      </section>
      <label for="enable" class="tpp-b--checkbox checkbox">
        <input type="checkbox" id="enable" class="control-icon__checkbox hxEqualizerEnabled active" checked="checked">
        <div class="control-icon"></div>
        On
      </label>
    </section>
    <section class="equalizer--faders">
      <div class="equalizer--faders__labels">
        <span>15 dB</span>
        <span>0 dB</span>
        <span>− 15 dB</span>
      </div>
      <div class="equalizer--fader__item" id="equalizer--fader__item">
        <section type="slider" class="tpp-slider tpp-slider__vertical _hxFrequency hxFrequency65" name="F65">
        </section>
      </div>
      <div class="equalizer--fader__item" id="equalizer--fader__item">
        <section type="slider" class="tpp-slider tpp-slider__vertical _hxFrequency hxFrequency125" name="F125">
        </section>
      </div>
      <div class="equalizer--fader__item" id="equalizer--fader__item">
        <section type="slider" class="tpp-slider tpp-slider__vertical _hxFrequency hxFrequency250" name="F250">
        </section>
      </div>
      <div class="equalizer--fader__item" id="equalizer--fader__item">
        <section type="slider" class="tpp-slider tpp-slider__vertical _hxFrequency hxFrequency500" name="F500">
        </section>
      </div>
      <div class="equalizer--fader__item" id="equalizer--fader__item">
        <section type="slider" class="tpp-slider tpp-slider__vertical _hxFrequency hxFrequency1000" name="F1000">
        </section>
      </div>
      <div class="equalizer--fader__item" id="equalizer--fader__item">
        <section type="slider" class="tpp-slider tpp-slider__vertical _hxFrequency hxFrequency2000" name="F2000">
        </section>
      </div>
      <div class="equalizer--fader__item" id="equalizer--fader__item">
        <section type="slider" class="tpp-slider tpp-slider__vertical _hxFrequency hxFrequency4000" name="F4000">
        </section>
      </div>
      <div class="equalizer--fader__item" id="equalizer--fader__item">
        <section type="slider" class="tpp-slider tpp-slider__vertical _hxFrequency hxFrequency6000" name="F6000">
        </section>
      </div>
      <div class="equalizer--fader__item" id="equalizer--fader__item">
        <section type="slider" class="tpp-slider tpp-slider__vertical _hxFrequency hxFrequency8000" name="F8000">
        </section>
      </div>
      <div class="equalizer--fader__item" id="equalizer--fader__item">
        <section type="slider" class="tpp-slider tpp-slider__vertical _hxFrequency hxFrequency12000" name="F12000">
        </section>
      </div>
    </section>
  </section>
</article>