<article class="tpp-instrument-switcher hxInstrumentSwitcherView">
  <section class="tpp-instrument-switcher--header">
    <span class="control-icon control-icon__sm control-icon__settings-invert"></span>
    <span class="hxTrackLabel" type="label"></span>
    <div class="control-icon control-icon__sm control-icon__close-invert tpp-close hxCloseOption" type="component"></div>
  </section>
  <section class="tpp-instrument-switcher--body tpp-flex">
    <ul class="tpp-list tpp-list__selectable tpp-scrollarea tpp-scrollarea__light scrollbar-visible hxInstrumentGroups ps-container" type="component">
    </ul>
    <ul class="tpp-list tpp-list__checkable tpp-scrollarea tpp-scrollarea__light scrollbar-visible hxInstruments" type="component"></ul>
  </section>
  <section class="tpp-instrument-switcher--footer tpp-flex">
    <button class="btn btn-shadow btn-default hxRestoreDefaulInstrumentOption" type="component" data-i18n="player.Set_default_instrument">
      <%= t('.set_default_instrument') %>
    </button>
    <button class="btn btn-shadow btn-success hxApplySelectedInstrumentOption" type="component" data-i18n="player.Change_instrument">
      <%= t('.change_instrument') %>
    </button>
  </section>
</article>