<div id="templates">
  <script type="text/template" class="hxTracklistMeasureNumberTemplate">
  <div></div>
  </script>
  <script type="text/template" class="hxTracklistLineTemplate">
  <article class="tpp-instrument active clearfix">
  <section class="tpp-instrument--icon pull-left">
  <div type="component" class="tpp-instrument--icon-container hxInstrumentIco"></div>
  <div class="tpp-label hxSoloMuteLabel" type="label"></div>
  </section>
  <section class="tpp-instrument--controls pull-right">
  <div class="tpp-instrument--txt text-overflow hxTrackTitle" type="label"></div>
  <div class="tpp-instrument--controls--line clearfix">
  <div class="tpp-btn-outline pull-left hxTrackSolo" type="checkbox" data-i18n="player.SOLO">SOLO</div>
  <div class="tpp-btn-outline pull-left danger hxTrackMute" type="checkbox" data-i18n="player.MUTE">MUTE</div>
  <div class="tpp-b-volume pull-left">
  <div class="block-ico pull-left">
  <div type="component" class="control-btn control-btn__volume hxTrackVolumeOptionIco" data-volume="">
  <div class="control-icon control-icon__sm"></div>
  </div>
  </div>
  <div class="block-slider pull-left">
  <section type="slider" class="tpp-slider tpp-slider__default hxTrackVolume" data-tooltip="100%">
  <div class="ui-slider-container">
  <div class="slider"></div>
  </div>
  </section>
  </div>
  </div>
  <div class="control-btn control-btn__settings pull-right hxSwitchInstrumentOption" type="component">
  <div class="control-icon control-icon__sm"></div>
  </div>
  <div class="control-btn pull-right"><div type="knob" class="control-icon control-icon__pan hxTrackPanning"></div></div>
  </div>
  </section>
  </article>
  </script>
  <script type="text/template" class="hxTracklistMeasureCellTemplate">
  <div></div>
  </script>
  <script type="text/template" class="hxChapterTemplate">
  <div></div>
  </script>
  <script type="text/template" class="hxTimelineItemTemplate">
  <div class="timeline-part"><div class="_hxTimelineItemContent"></div></div>
  </script>
  <script type="text/template" class="hxInstrumentGroupTemplate">
  <li>
  <div class="instrument-ico hxInstrumentGroupIcon" type="component"></div>
  <div class="hxInstrumentGroupLabel" type="label"></div>
  </li>
  </script>
  <script type="text/template" class="hxInstrumentTemplate">
  <li>
  <div class="hxInstrumentLabel" type="label"></div>
  </li>
  </script>
  <script type="text/template" class="hxTipCardTemplate">
  <article class="tpp-b-popover tpp-b-popover__top">
  <div class="tpp-b-popover--heading _hxTitle"></div>
  <p class="_hxText"></p>
  <div class="tpp-b-popover--footer">
  <div class="tpp-b-popover--btn pull-right _hxButton"></div>
  </div>
  </article>
  </script>
</div>